@page "/surveyc3"
@inject Models.EmployeeContext DBContext

@using FirstBlazorApp.Models
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*<?php

session_start();
//phpinfo();
if(!$_SESSION["HC"]){
>?*@
@*<script>
location='https://livingonnewpace.com/survey/index.php?curr=survey_profile';
</script>*@
@*<?php
	exit();
}
$mysqli=mcon($mysql["host"], $mysql["user"], $mysql["pass"], $mysql["dbname"],$mysql["charset"]);

$HC=$_SESSION["HC"];
$query="select c6,c6_1,c6_2,c6_3,c6_4,c6_5,c6_6,c6_7,c6_8,c6_9,c6_10,c6_11,c6_11_1 from survey_c1 where HC='$HC'";
$result=$mysqli->query($query);
$row1=$result->fetch_object();
>?*@
<form name='survey' method='POST' action='surveyc3_add.php'>
<table>
	<tr>
		<td align='center'>แบบสอบถาม<br>
โครงการพัฒนาระบบสนับสนุนการทำงานเชิงพื้นที่เพื่อการแก้ไขปัญหาความยากจนแบบเบ็ดเสร็จและแม่นยำหน่วยบริหารและจัดการทุนด้านการพัฒนาระดับพื้นที่ (บพท.)
		</td>
	</tr>
	<tr>
		<td><b>ตอนที่ 3 สภาพพื้นฐานทางเศรษฐกิจ (ทุนการเงิน) (3/3) (หน้าที่ 13/20)</b></td>
	</tr>
	<tr>
		<td><b><font size='6' color='red'>HC : @*<?php $HC=$_SESSION["HC"];echo$HC>?*@</font></b></td>
	</tr>
	<tr>
		<td>
			6. ครัวเรือนของท่านมีทรัพย์สินเพื่อการประกอบอาชีพหรือไม่ (C6)
			<br>&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='0' name='c6' @*<?php if($row1->c6=='0'){echo"checked";}>?*@> 1) ไม่มี
			<br>&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='1' name='c6' @*<?php if($row1->c5=='1'){echo"checked";}>?*@> 2) มี และได้ใช้เพื่อประกอบอาชีพ

			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='1' name='c6_1' @*<?php if($row1->c6_1=='1'){echo"checked";}>?*@> 1) เครื่องจักรกล เช่น รถไถขนาดเล็ก เครื่องตัดหญ้า ฯลฯ
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='2' name='c6_2' @*<?php if($row1->c6_2=='2'){echo"checked";}>?*@> 2) รถมอเตอร์ไซค์ (พร้อมเสื้อ)
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='3' name='c6_3' @*<?php if($row1->c6_3=='3'){echo"checked";}>?*@> 3) รถแท็กซี่
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='4' name='c6_4' @*<?php if($row1->c6_4=='3'){echo"checked";}>?*@> 4) เรือประมง เรือติดเครื่องยนต์
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='5' name='c6_5' @*<?php if($row1->c6_5=='5'){echo"checked";}>?*@> 5) แผงขายของ
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='6' name='c6_6' @*<?php if($row1->c6_6=='6'){echo"checked";}>?*@> 6) รถโชเล่ย์ (รถพ่วงข้าง)
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='7' name='c6_7' @*<?php if($row1->c6_7=='7'){echo"checked";}>?*@> 7) ยุ้งฉาง 
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='8' name='c6_8' @*<?php if($row1->c6_8=='8'){echo"checked";}>?*@> 8) หุ้น
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='9' name='c6_9' @*<?php if($row1->c6_9=='9'){echo"checked";}>?*@> 9) แชร์ (ที่ยังไม่ได้เปีย)
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='10' name='c6_10' @*<?php if($row1->c6_10=='10'){echo"checked";}>?*@> 10) สัตว์เลี้ยง
			<br>&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp <input type='checkbox' value='11' name='c6_11' @*<?php if($row1->c6_11=='11'){echo"checked";}>?*@> 11) อื่น ๆ (ระบุ) <input type='text' name='c6_11_1' value='@*<?php echo$row1->c6_11_1>?*@'>
			<hr>
		</td>
	</tr>
@*<?php
	$mysqli->close();
include('button2.php');
>?*@
</table>
</form>
